html {
	font-family: Calibri, Roboto, sans-serif;
	font-variant-ligatures: none;
}

* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 1.0rem;
}

body {
	text-align: center;
	padding: 4.3rem 0 0 0;
} 

/* Navigation Bar */

#header {
	position: fixed;
	top: 0%;
	left: 0%;	
	width: 100%;
	background-color: #FFFFFF;
	border-bottom: solid 1px #E0E0E0;
	text-align: center;
}

#main {
	display: block;
	width: 100%;
	text-align: center;
}

#nav {
	display: block;
	width: 100%;
}

#nav-top {
	display: grid;
	grid-template-columns: 20% 45% 35%;
	grid-column-gap: 0;
	justify-items: center;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#nav-left {
	display: inline-block;
	grid-column-start: 1;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
}

#nav-mid {
	display: inline-block;
	grid-column-start: 2;
	text-align: center;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#nav-right {
	display: inline-block;
	grid-column-start: 3;
	text-align: right;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
}

#nav-small {
	display: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.nav-button {
	display: inline-block;
	height: 3rem;
	padding: 1rem 0.5rem 0 0.5rem;
	text-decoration: none;
	color: #000000;
	font-weight: 500;
	font-size: 1.8rem;
}

.selected {
	border-bottom: 0.3rem solid black;
}

#title {
	display: inline-block;
	height: 4rem;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#logo {
	width: 5rem;
	height: 4rem;
	display: inline-block;
	background-image: url("logo_simple.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#name {
	display: inline-block;
	height: 3rem;
	text-decoration: none;
	color: #000000;
	font-weight: 500;
	vertical-align: top;
	font-size: 2.5rem;
	padding: 1rem 0 0 0;
}

#menu-top {
	display: none;
	width: 100%;
	text-align: right;
}

#menu {
	display: none;
	width: 100%;
	text-align: right;
}

#toggle {
	display: none;
	float: right;
	width: 3rem;
	height: 2.75rem;
	padding: 0.75rem 1rem 0.5rem 1rem;
	cursor: pointer;
	text-align: center;
}


.box {
	/*border-bottom: solid 1px #E0E0E0;*/
	padding: 3rem 0 7rem 0;
	text-align: center;
}

#products-box {
	padding: 11rem 0 7rem 0;
}

#whitepaper-form input {
	border: 1px solid black;
	border-radius: 5px;
	padding: 1rem 1rem 1rem 1rem;
	margin: 0.5rem 0.5rem 0.5rem 0.5rem;
	width: 18rem;
	box-sizing: content-box;
}

#whitepaper-form {
	display: inline-block;
	width: 44rem;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#about-box {
	padding: 0 0 2rem 0;
}

.contact-card {
	display:inline-block;
	text-align: center;
	margin: 20px 20px 20px 20px;
}

.contact-photo {
	display: inline-block;
	margin: 5px 5px 5px 5px;
}

.contact-info {
	display: block;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
}

.contact-info address {
	font-weight: normal;
}

.contact-img-frame {
	border-radius: 20px;
	overflow: hidden;
	width: 256px;
	height: 300px;
}

.contact-img {
	width: 256px;
}









.post {
	display: block;
	max-width: 11in;
	margin-left: auto;
	margin-right: auto;
}



article, article * {
	margin-top: 0.5rem;
	font-size: 1.3rem;
	text-align: left;
}

h1 {
	font-size: 2rem;
	width: 100%;
	text-align: center;
}

.banner {
	display: inline-block;
	width: 70%;
	text-align: center;
	font-size: 1.3rem;
	margin: 25px 25px 25px 25px;
}

.banner p,a {
	font-size: 1.3rem;
}

.banner h1 {
	font-size: 3rem;
}

.left-banner {
	display: inline-block;
	width: 70%;
	text-align: left;
	font-size: 1.3rem;
	margin: 25px 25px 25px 25px;
}

.left-banner p,a {
	font-size: 1.3rem;
}

.left-banner h1 {
	font-size: 3rem;
}

.left-img {
	float: left;
	max-width: 768px;
	width: 60%;
	margin: 4rem 2% 4rem 2%;
	object-fit: cover;
}

.right-img {
	float: right;
	max-width: 768px;
	width: 60%;
	margin: 4rem 2% 4rem 2%;
	object-fit: cover;
}

#cgra-img {
	float: left;
	margin: 4rem 1% 4rem 1%;
	max-width: 512px;
	width: 70%;
}

#logo-img {
	float: left;
	max-width: 256px;
	width: 60%;
	margin: 4rem 2% 4rem 2%;
	object-fit: cover;
}


cite {
	display: block;
	position: relative;
	line-height: 1;
	font-style: normal;
	text-align: justify;
	break-inside: avoid;
	margin: 1rem 0 0.3rem 0;
}

.cite-txt {
	display: table-cell;
	text-indent: 0;
	width: calc(100% - 3rem);
	font-style: normal;
}

.cite-ref {
	display: table-cell;
	text-indent: 0;
	width: 4rem;
	font-style: normal;
	text-align: center;
}

figure * {
	text-align: center;
	font-size: 1.1rem;
}

code {
	font-size: 1rem;
	background-color: #EEEEEE;
	padding: 5px 5px 5px 5px;
}






@media (pointer:none), (pointer:coarse) {
	html {
		font-size: 0.8cm;
	}
}

@media (max-width: 75rem) {
body {
	text-align: center;
	padding: 4rem 0 0 0;
} 

#nav-top {
	display: grid;
	grid-template-columns: 75% 25%;
	grid-column-gap: 0;
	justify-items: center;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#nav-mid {
	display: none;
}

#nav-right {
	display: none;
}

#nav-small {
	display: inline-block;
	grid-column-start: 2;
	text-align: right;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
}

.nav-button {
	display: block;
	padding: 0.2rem 1rem 0.2rem 0.2rem;
}

#menu-top {
	display: block;
}

#whitepaper-form {
	width: 20rem;
}




article {
	margin-left: 1rem;
	margin-right: 1rem;
}

li {
	margin-left: 2.5rem;
}

.cite-ref {
	width: 2.5rem;
	text-align: left;
}

#name {
	font-size: 2.5rem;
}

#logo_img {
	height: 4rem;
}

.selected {
	border-bottom: none;
}

#toggle {
	display: block;
}

#toggle_img {
	width: 2.5rem;
	height: 2.5rem;
}

#products-box {
	padding: 0rem 0 7rem 0;
}

.left-img {
	float: none;
	max-width: none;
	width: 96%;
	margin: 0 2% 0 2%;
}

.right-img {
	float: none;
	max-width: none;
	width: 96%;
	margin: 0 2% 0 2%;
}

#cgra-img {
	float: none;
	width: 96%;
	max-width: none;
	margin: 0 2% 0 2%;
}

#logo-img {
	float: none;
	max-width: none;
	width: 50%;
	margin: 0 25% 0 25%;
}

}

