html {
	font-variant-ligatures: none;
	font-family: 'Inter', sans-serif;
	--font-sans-serif: 'Inter';
	scroll-behavior: smooth;
}

* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	text-align: center;
	padding: 4.3rem 0 0 0;
} 

b {
	font-weight: 700;
}

/* Navigation Bar */

#skip-link {
	opacity: 0;
	z-index:-1;
	position: absolute;
	left: 0%;
}

#skip-link:focus {
	opacity: 1;
	z-index: 0;
}

#downarrow {
	position: fixed;
	bottom: 50px;
	left: calc(50%-25px);
	width: 50px;
	cursor: pointer;
}

#header {
	position: fixed;
	top: 0%;
	left: 0%;	
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
	z-index: 1000;
}

#main {
	display: block;
	width: 100%;
	text-align: center;
}

#nav {
	display: block;
	width: 100%;
}

#nav-top {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-column-gap: 0;
	justify-items: center;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#nav-left {
	display: inline-block;
	grid-column-start: 1;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
}

#nav-mid {
	display: inline-block;
	grid-column-start: 2;
	text-align: center;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#nav-right {
	display: inline-block;
	grid-column-start: 3;
	text-align: right;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
}

#nav-small {
	display: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.nav-button {
	display: inline-block;
	height: 3rem;
	padding: 1rem 1rem 0 1rem;
	text-decoration: none;
	color: #000000;
	font-weight: 500;
	font-size: 1.8rem;
}

.selected {
	border-bottom: 0.3rem solid black;
}

#logo {
	float: left;
	display: inline-block;
	height: 3rem;
	width: 3rem;
	padding: 0 0 0 0;
	margin: 0.6rem 0 0 1rem;
	background-image: url("logo_simple.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#name {
	display: inline-block;
	height: 3rem;
	padding: 1rem 0 0 0.5rem;
	text-decoration: none;
	color: #000000;
	font-weight: 500;
	font-size: 1.8rem;
}

#menu-top {
	display: none;
	width: 100%;
	text-align: right;
}

#menu {
	display: none;
	width: 100%;
	text-align: right;
}

#toggle {
	display: none;
	float: right;
	width: 3rem;
	height: 2.75rem;
	padding: 0.75rem 1rem 0.5rem 1rem;
	cursor: pointer;
	text-align: center;
}

.img-button .terminal:hover {
	box-shadow: 0px 0px 20px rgb(0,0,0);
}
.img-button img:hover {
	box-shadow: 0px 0px 20px rgb(0,0,0);
}


.terminal {
	display: inline-grid;
	grid-template-columns: 100%;
	grid-template-rows: 2rem auto;
	column-gap: 0;
	row-gap: 0;
	
	background-color: rgb(50,50,50);
	border-radius: 0.75rem;
	padding: 0 0 0 0;
	text-align: left;
	max-width: 40rem;
	width: 100%;
	height: 30rem;
}

.terminal-window {
	grid-row-start: 2;
	grid-row-end: span 1;

	font-size: 1rem;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	overflow: scroll;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	border-radius: 0 0 0.75rem 0.75rem;
	white-space: pre;
	font-family: monospace;
}

.terminal-window * {
	font-size: 1rem;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	white-space: pre;
	font-family: monospace;
}

.button {
	display: inline-block;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(128,128,128);
	border-radius: 0.75rem;
	padding: 1rem 2rem 1rem 2rem;
	margin: 0.3rem 0.3rem 0.3rem 0.3rem;
	box-sizing: content-box;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: 600;
	text-decoration: none;
}

.button:hover {
	box-shadow: 0px 0px 10px rgb(100,100,100);
}

.green-button {
	display: inline-block;
	background-color: rgb(10, 133, 55);
	color: rgb(255, 255, 255);
	border: 0px;
	border-radius: 0.75rem;
	padding: 1rem 2rem 1rem 2rem;
	margin: 0.3rem 0.3rem 0.3rem 0.3rem;
	box-sizing: content-box;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: 600;
	text-decoration: none;
}

.green-button:hover {
	box-shadow: 0px 0px 10px rgb(100,100,100);
}

.small-button {
	display: inline-block;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(128,128,128);
	border-radius: 0.75rem;
	padding: 0.75rem 1.5rem 0.75rem 1.5rem;
	margin: 1rem 0.6rem 0.3rem 0.0rem;
	box-sizing: content-box;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: 500;
	text-decoration: none;
}

.small-button:hover {
	box-shadow: 0px 0px 10px rgb(100,100,100);
}

.small-green-button {
	display: inline-block;
	background-color: rgb(10, 133, 55);
	color: rgb(255, 255, 255);
	border: 0px;
	border-radius: 0.75rem;
	padding: 0.75rem 1.5rem 0.75rem 1.5rem;
	margin: 1rem 0.6rem 0.3rem 0.0rem;
	box-sizing: content-box;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: 500;
	text-decoration: none;
}

.small-green-button:hover {
	box-shadow: 0px 0px 10px rgb(100,100,100);
}

.sponsor-tier {
	background-color: rgb(255,255,255);
	border-radius: 0.75rem;
	width: 20rem;
	text-align: center;
	padding: 2rem 1rem 2rem 1rem;
	margin: 2rem 1rem 2rem 1rem;
	border: 1px solid rgb(128,128,128);
	display: inline-block;
}

.sponsor-tier h3 {
	text-align: center;
	margin: 0 0 1rem 0;
}

.sponsor-tier h4 {
	text-align: center;
	margin: 0 0 2rem 0;
}

.sponsor-tier p {
	text-align: center;
	margin: 0 0 2rem 0;
}

#course-links {
	margin: 3rem 0 7rem 0;
	max-width: 36rem;
	text-align: center;
	width: 100%;
}

.course-link {
	display: inline-block;
	border: 1px solid black;
	background-color: #EEEEEE;
	border-radius: 2rem;
	margin: 0.5rem 0.5rem 0.5rem 0.5rem;
	padding: 0.5rem 0.75rem 0.5rem 3rem;
	box-sizing: content-box;
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	background-position: 0px 0px;
	background-image: url('logos/github.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.course-link:hover {
	background-color: #BBBBBB;
}

.img-link {
	width: 40px;
	height: 40px;
}

#about-box {
	padding: 2rem 0 2rem 0;
}

.contact-card {
	display:inline-block;
	text-align: center;
	margin: 20px 20px 20px 20px;
}

.contact-photo {
	display: inline-block;
	margin: 5px 5px 5px 5px;
}

.contact-info {
	display: block;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
}

.contact-info address {
	font-weight: normal;
}

.contact-img-frame {
	border-radius: 1rem;
	overflow: hidden;
	width: 15rem;
	height: 20rem;
}

.contact-img {
	width: 100%;
}

.post {
	display: block;
	max-width: 11in;
	margin-left: auto;
	margin-right: auto;
}

article, article * {
	margin-top: 0.5rem;
	font-size: 1.3rem;
	text-align: left;
}

h1 {
	font-size: 4rem;
	width: 100%;
	text-align: center;
	font-weight: 700;
	margin: 0 0 1rem 0;
}

article h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.5rem;
	width: 100%;
	text-align: center;
	font-weight: 700;
	margin: 2rem 0 1rem 0;
}

h3 {
	font-size: 2rem;
	width: 100%;
	text-align: center;
	font-weight: 600;
	margin: 0 0 1rem 0;
}

h4 {
	font-size: 1.4rem;
	width: 100%;
	text-align: left;
	font-weight: 700;
	margin: 0 0 0.25rem 0;
}

.box {
	padding: 4rem 0 4rem 0;
	text-align: center;
}

.banner {
	display: inline-grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas:
		"bh bh"
		"blt bri"
		"bli brt"
		"bf bf";
	column-gap: 3rem;
	row-gap: 1rem;
	width: 70%;
	font-size: 1.2rem;
	padding: 5rem 0 0 0;
	text-align: center;
}

.banner p,a,b,li,ul {
	text-align: left;
}

.banner-bh {
	grid-area: bh;
	text-align: center;
	background: no-repeat center;
}

.banner-li {
	grid-area: bli;
	text-align: center;
	background: no-repeat right;
}

.banner-lt {
	grid-area: blt;
	text-align: left;
	background: no-repeat right;
}

.banner-lt h2 {
	text-align: left;
}

.banner-rt {
	grid-area: brt;
	text-align: left;
	background: no-repeat left;
}

.banner-rt h2 {
	text-align: left;
}

.banner-ri {
	grid-area: bri;
	text-align: center;
	background: no-repeat left;
}

.banner-bf {
	grid-area: bf;
	text-align: center;
	background: no-repeat center;
}

.feature-img {
	max-width: 100%;
	max-height: 30rem;
	height 100%;
	border-radius: 0.75rem;
}

#logo-img {
	float: left;
	max-width: 180px;
	width: 60%;
	margin: 2rem 2% 2rem 2%;
	object-fit: cover;
}

cite {
	display: block;
	position: relative;
	line-height: 1;
	font-style: normal;
	text-align: justify;
	break-inside: avoid;
	margin: 1rem 0 0.3rem 0;
}

.cite-txt {
	display: table-cell;
	text-indent: 0;
	width: calc(100% - 3rem);
	font-style: normal;
}

.cite-ref {
	display: table-cell;
	text-indent: 0;
	width: 4rem;
	font-style: normal;
	text-align: center;
}

figure * {
	text-align: center;
	font-size: 1.1rem;
}

code {
	font-size: 1rem;
	background-color: #EEEEEE;
	padding: 5px 5px 5px 5px;
}

li {
	margin-left: 2.5rem;
	margin-top: 1.0rem;
}

a {
	color: rgb(0,0,0);
	text-decoration: underline;
	cursor: pointer;
}

@media (pointer:none), (pointer:coarse) and (orientation:portrait) {
html {
	font-size: 0.8cm;
}
}

@media (pointer:none), (pointer:coarse) {
* {
	border-radius: 0px;
}

#downarrow {
	visibility: hidden;
}

}

@media (max-width: 75rem) {
body {
	text-align: center;
	padding: 4rem 0 0 0;
} 

.banner {
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
		"bh"
		"blt"
		"brt"
		"bli"
		"bri"
		"bf";
	width: 90%;
}

#nav-top {
	display: grid;
	grid-template-columns: 75% 25%;
	grid-column-gap: 0;
	justify-items: center;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#nav-mid {
	display: none;
}

#nav-right {
	display: none;
}

#nav-small {
	display: inline-block;
	grid-column-start: 2;
	text-align: right;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
}

.nav-button {
	display: block;
	padding: 0.2rem 1rem 0.2rem 0.2rem;
	text-align: right;
}

#menu-top {
	display: block;
}

article {
	margin-left: 1rem;
	margin-right: 1rem;
}

li {
	margin-left: 2.5rem;
}

.cite-ref {
	width: 2.5rem;
	text-align: left;
}

#name {
	font-size: 1.8rem;
}

.selected {
	border-bottom: none;
}

#toggle {
	display: block;
}

#toggle_img {
	width: 2rem;
	height: 2rem;
	margin: 0.25rem 0.25rem 0.25rem 0.25rem;
}

#logo-img {
	float: none;
	max-width: none;
	width: 50%;
	margin: 0 25% 0 25%;
}

}

